body {
    background: #eaecee;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}


.custom-nav {
    background: #eaecee;
    box-shadow: 5px 5px 15px #c1c8d3, -5px -5px 15px #fff;
}

.web-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav-link {
    color: #1244a1;
}

.nav-link:hover {
    color: #fff;
    background: linear-gradient(-45deg, #035afa, #194782da);
    border-radius: 4px;
}

.logout-btn {
    border: none; 
    text-decoration: none;
    color: black;
    padding: 8px 20px;
    background: #eaecee;
    box-shadow: 5px 5px 15px #c1c8d3, -5px -5px 15px #fff;
    border-radius: 5px; 
}

.logout-btn:hover {
    color: #fff;
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
}

.navbar-toggler {
    border: none;
    box-shadow: 5px 5px 15px #c1c8d3, -5px -5px 15px #fff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.navbar-toggler i{
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: 5px 5px 15px #c1c8d3, -5px -5px 15px #fff;
}


/* ====== MAIN CONTAINER ====== */
.card-box {
    margin: 30px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #c1c8d3, -5px -5px 15px #fff;
    overflow: hidden; 
}

.card-box > .row {
    margin-left: 0;
    margin-right: 0;
}

.card-inner {
    display: flex;
    flex-direction: column;
    align-items: center;  /* ← add చేయి */
}

.card-box h1 {
  font-size: 2rem;
  font-weight: 500;
}
.subtitle {
  color: #555;
  margin-bottom: 24px;
}

.subtitle span{
  background: linear-gradient(-45deg, #D000F7, #24BAE3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* ====== TEMPLATE GRID ====== */
.template-grid {
  background: #eaecee;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  row-gap: 24px;
  border-radius: 14px;
}

/* ====== TEMPLATE CARD ====== */
.template-grid {
  align-items: stretch;
}
.template-card {
  position: relative;
  background: #eaecee;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #c1c8d3, -5px -5px 15px #fff;
  padding: 14px;
  transition: transform 0.2s ease;
  
}

.template-card.selected {
  box-shadow:
    0 0 10px rgba(228, 4, 249, 0.7), 
    0 0 18px rgba(29, 191, 236, 0.5), 
    5px 5px 15px #c1c8d3,               
    -5px -5px 15px #fff;
  transform: scale(1.01);
}

/* ====== RESUME PREVIEW ====== */
.resume-preview {
  height: 600px;
  background: #eaecee;
  border-radius: 10px;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.15);
  padding: 12px;
  overflow-y: auto;
  font-size: 13px;
  /* border: #035afa solid 2px; */
}


/* ====== TEMPLATE STYLES ====== */
.classic-style h2,
.classic-style h3 {
  border-bottom: 1px solid #000;
}

.modern-style h2,
.modern-style h3 {
  border-bottom: 2px solid #444;
  text-transform: uppercase;
}

.compact-style {
  font-size: 12px;
}

.minimal-style h2,
.minimal-style h3 {
  border-bottom: none;
  font-weight: 600;
}

/* Fonts */
.font-times { font-family: "Times New Roman", serif; }
.font-inter { font-family: "Inter", sans-serif; }
.font-roboto { font-family: "Roboto", sans-serif; }

/* Buttons */
.use-template-btn {
  margin-top: 12px;
  text-align: center;
  border: none;
  background: #eaecee;
  box-shadow: 5px 5px 15px #c1c8d3, -5px -5px 15px #fff;
  padding: 6px 10px;
  border-radius: 6px;
  background: linear-gradient(-45deg, #D000F7, #24BAE3);
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
}

.download-btn {
  display: block;
  margin: 24px auto 0;
  border: none;
  padding: 10px 22px;
  border-radius: 8px;
  background: #eaecee;
  cursor: pointer;
  transition: all 0.15s ease;
  box-shadow: 
    5px 5px 15px #c1c8d3,
    -5px -5px 15px #fff;
}

.download-btn:hover {
  color: #fff;
  background: linear-gradient(-45deg, #D000F7, #24BAE3);
}

.download-btn:active {
  box-shadow:
    inset 3px 3px 6px #c1c8d3,
    inset -3px -3px 6px #fff;

  transform: scale(0.97);
}

/* ====== MOBILE ====== */
@media (max-width: 1024px) {
  .template-grid {
    grid-template-columns: 1fr;
  }

  .resume-preview {
    height: 520px;
  }
}

@media (max-width: 576px) {
    .card-box {
        padding: 20px;
        margin: 20px 12px;
    }
}

/* Toggler */
@media (max-width: 991px) {
  .custom-menu {
    position: absolute;
    top: 80px;        
    right: 15px;
    width: 150px;     
    background: #eaecee;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #c1c8d3, -5px -5px 15px #fff;
    padding: 12px;
  }

  .custom-menu .nav-link {
    padding: 8px 10px;
    border-radius: 8px;
  }

  .custom-menu .nav-link:hover {
    color: #fff;
    background: linear-gradient(-45deg, #035afa, #194782da);
    border-radius: 4px;
  }
}

.collapsing {
    transition: none;
}

.resume-preview::-webkit-scrollbar {
    width: 6px;
    height: 3px;
}

.resume-preview::-webkit-scrollbar-track {
    background: transparent;
}

.resume-preview::-webkit-scrollbar-thumb {
    background-color: rgba(0, 123, 255, 0.6); 
    border-radius: 10px;
}

.resume-preview::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}

.resume-preview {
    scrollbar-width: thin; 
    scrollbar-color: rgba(111, 0, 255, 0.6) transparent;
}